<form action="/create_cocktail_photo" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="file" id="image" name="image" class="form-control">
  </div>

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <input type="text" id="caption" name="caption" class="form-control" value="<%= @cocktail_photo.caption %>">
  </div>

  <div class="form-group">
    <label for="owner_id">
      Owner
    </label>

    <%= select_tag(:owner_id, options_from_collection_for_select(User.all, :id, :created_at, @cocktail_photo.owner_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="cocktail_id" value="<%= @cocktail.id %>">

  <div class="form-group">
    <label for="comment_count">
      Comment count
    </label>

    <input type="text" id="comment_count" name="comment_count" class="form-control" value="<%= @cocktail_photo.comment_count %>">
  </div>

  <div class="form-group">
    <label for="likes_count">
      Likes count
    </label>

    <input type="text" id="likes_count" name="likes_count" class="form-control" value="<%= @cocktail_photo.likes_count %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create cocktail photo
  </button>
</form>
