<% if @venue_like.errors.any? %>
  <% @venue_like.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit venue like #<%= @venue_like.id %>
</h1>

<hr>

<form action="/update_venue_like/<%= @venue_like.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @venue_like.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @venue_like.venue_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update venue like
  </button>
</form>

<hr>

<a href="/venue_likes">
  Go back
</a>
