<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All venue likes
    </h1>

    <a href="/venue_likes/new" class="btn btn-block btn-outline-secondary">
      Add a new venue like
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "venue_like_templates/venue_likes_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Venue
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @venue_likes.each do |venue_like| %>
      <tr>
        <td>
          <%= venue_like.id %>
        </td>

        <td>
          <% if venue_like.user.present? %>
            <a href="/users/<%= venue_like.user.id %>">
              <%= venue_like.user.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if venue_like.venue.present? %>
            <a href="/venues/<%= venue_like.venue.id %>">
              <%= venue_like.venue.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(venue_like.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(venue_like.updated_at) %> ago
        </td>

        <td>
          <a href="/venue_likes/<%= venue_like.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @venue_likes, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
