<% if @cocktail_photo.errors.any? %>
  <% @cocktail_photo.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit cocktail photo #<%= @cocktail_photo.id %>
</h1>

<hr>

<form action="/update_cocktail_photo/<%= @cocktail_photo.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <%= cl_image_tag(@cocktail_photo.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
  </div>

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <input type="text" id="caption" name="caption" class="form-control" value="<%= @cocktail_photo.caption %>">
  </div>

  <div class="form-group">
    <label for="owner_id">
      Owner
    </label>

    <%= select_tag(:owner_id, options_from_collection_for_select(User.all, :id, :created_at, @cocktail_photo.owner_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="cocktail_id">
      Cocktail
    </label>

    <%= select_tag(:cocktail_id, options_from_collection_for_select(Cocktail.all, :id, :name, @cocktail_photo.cocktail_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="comment_count">
      Comment count
    </label>

    <input type="text" id="comment_count" name="comment_count" class="form-control" value="<%= @cocktail_photo.comment_count %>">
  </div>

  <div class="form-group">
    <label for="likes_count">
      Likes count
    </label>

    <input type="text" id="likes_count" name="likes_count" class="form-control" value="<%= @cocktail_photo.likes_count %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update cocktail photo
  </button>
</form>

<hr>

<a href="/cocktail_photos">
  Go back
</a>
