<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All cocktail photos
    </h1>

    <a href="/cocktail_photos/new" class="btn btn-block btn-outline-secondary">
      Add a new cocktail photo
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "cocktail_photo_templates/cocktail_photos_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Cocktail
        </th>

        <th>
          Comment count
        </th>

        <th>
          Likes count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @cocktail_photos.each do |cocktail_photo| %>
      <tr>
        <td>
          <%= cocktail_photo.id %>
        </td>

        <td>
          <img src='<%= cocktail_photo.image %>' class='img-fluid'>
        </td>

        <td>
          <%= cocktail_photo.caption %>
        </td>

        <td>
          <% if cocktail_photo.owner.present? %>
            <a href="/users/<%= cocktail_photo.owner.id %>">
              <%= cocktail_photo.owner.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if cocktail_photo.cocktail.present? %>
            <a href="/cocktails/<%= cocktail_photo.cocktail.id %>">
              <%= cocktail_photo.cocktail.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= cocktail_photo.comment_count %>
        </td>

        <td>
          <%= cocktail_photo.likes_count %>
        </td>

        <td>
          <%= time_ago_in_words(cocktail_photo.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(cocktail_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/cocktail_photos/<%= cocktail_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @cocktail_photos, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
