<!-- Validation failure messages -->
<% if @cocktail_photo.present? %>
  <% if @cocktail_photo.errors.any? %>
    <% @cocktail_photo.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new cocktail photo
</h1>


<hr>

<!-- Form cocktail_photo start -->
<form action="/create_cocktail_photo" method="post" enctype="multipart/form-data">
<!-- Form cocktail_photo end -->

  <!-- Label and input for image start -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    <!-- Input for image start -->
    <input type="file" id="image" name="image" class="form-control">
    <!-- Input for image end -->
  </div>
  <!-- Label and input for image end -->

  <!-- Label and input for caption start -->
  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <!-- Input for caption start -->
    <input type="text" id="caption" name="caption" class="form-control" value="<%= @cocktail_photo.caption %>">
    <!-- Input for caption end -->
  </div>
  <!-- Label and input for caption end -->

  <!-- Label and input for owner_id start -->
  <div class="form-group">
    <label for="owner_id">
      Owner
    </label>

    <!-- Input for owner_id start -->
    <input type="text" id="owner_id" name="owner_id" class="form-control" value="<%= @cocktail_photo.owner_id %>">
    <!-- Input for owner_id end -->
  </div>
  <!-- Label and input for owner_id end -->

  <!-- Label and input for cocktail_id start -->
  <div class="form-group">
    <label for="cocktail_id">
      Cocktail
    </label>

    <!-- Input for cocktail_id start -->
    <input type="text" id="cocktail_id" name="cocktail_id" class="form-control" value="<%= @cocktail_photo.cocktail_id %>">
    <!-- Input for cocktail_id end -->
  </div>
  <!-- Label and input for cocktail_id end -->

  <!-- Label and input for comment_count start -->
  <div class="form-group">
    <label for="comment_count">
      Comment count
    </label>

    <!-- Input for comment_count start -->
    <input type="text" id="comment_count" name="comment_count" class="form-control" value="<%= @cocktail_photo.comment_count %>">
    <!-- Input for comment_count end -->
  </div>
  <!-- Label and input for comment_count end -->

  <!-- Label and input for likes_count start -->
  <div class="form-group">
    <label for="likes_count">
      Likes count
    </label>

    <!-- Input for likes_count start -->
    <input type="text" id="likes_count" name="likes_count" class="form-control" value="<%= @cocktail_photo.likes_count %>">
    <!-- Input for likes_count end -->
  </div>
  <!-- Label and input for likes_count end -->

  <button class="btn btn-block btn-outline-secondary">
    Create cocktail photo
  </button>
</form>

<hr>

<a href="/cocktail_photos">
  Go back
</a>
