<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Photo comment #<%= @photo_comment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/photo_comments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/photo_comments/<%= @photo_comment.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit photo comment
        </a>
      </div>

      <div class="col">
        <a href="/delete_photo_comment/<%= @photo_comment.id %>" class="btn btn-block btn-outline-secondary">
          Delete photo comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Author
      </dt>
      <dd>
        <% if @photo_comment.author.present? %>
          <a href="/users/<%= @photo_comment.author_id %>">
            <%= @photo_comment.author.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <% if @photo_comment.photo.present? %>
          <a href="/cocktail_photos/<%= @photo_comment.photo_id %>">
            <%= @photo_comment.photo.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @photo_comment.body %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@photo_comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@photo_comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

