<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Photo like #<%= @photo_like.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/photo_likes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link photo_like start -->
      <div class="col">
        <a href="/photo_likes/<%= @photo_like.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit photo like
        </a>
      </div>
      <!-- Edit link photo_like end -->

      <!-- Delete link photo_like start -->
      <div class="col">
        <a href="/delete_photo_like/<%= @photo_like.id %>" class="btn btn-block btn-outline-secondary">
          Delete photo like
        </a>
      </div>
      <!-- Delete link photo_like end -->
    </div>

    <dl>
      <dt>
        Photo
      </dt>
      <!-- Display photo_id start -->
      <dd>
        <% if @photo_like.photo.present? %>
          <a href="/cocktail_photos/<%= @photo_like.photo_id %>">
            <%= @photo_like.photo.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display photo_id end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @photo_like.user.present? %>
          <a href="/users/<%= @photo_like.user_id %>">
            <%= @photo_like.user.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@photo_like.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@photo_like.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
